.menu{
  &__list{
    display: flex;
  }
  &__list > li{
    margin: 0 15px 0 0;
  }
  li{
    position: relative;
  }
  &__link{
    color: color(gray-6);
  }
}

.sub-menu{
  &__list{
    min-width: 150px;
    display: none;
    position: absolute;
    left: 0;
    top: 10px;
    padding: 22px 0 0 0;
    z-index: 12;
  }
  &__list li{
    background-color: color(gray-1);
  }
  &__list li:hover{
    background-color: color(gray-2);
  }
  &__link{
    color: color(gray-6);
    display: inline-block;
    padding: 5px 10px;
  }
}

.sub-sub-menu{
  &__list{
    min-width: 150px;
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0 0 0 2px;
    z-index: 12;
  }
  &__link{
    color: color(gray-6);
    display: inline-block;
    padding: 5px 10px;
  }
}

body.mouse .menu__list>li:hover .sub-menu__list{
  display: block;
}

body.mouse .sub-menu__list>li:hover .sub-sub-menu__list{
  display: block;
}