@include md__max{
  ._container{
    width: map-get($container, sm);
  }
  .slider{
    &__item-container{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    &__left-content{
      align-items: center;
    }
    &__right-content{
      margin: 0 0 20px 0;
    }
  }
}
