.pagination-block{
  padding: 10px 0 10px 0;
}

.pagination{

  &__list{

  }

  &__link{
    background-color: color(gray-3);
    width: 60px;
    height: 20px;
    font-weight: 900;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link:first-child{
    transform: rotate(-180deg);
  }

  &__link.active a{
    color: color(gray-1);
  }

  &__link a{
    color: color(gray-6);
  }

}