._row-left{
  display: flex;
}

._row-right{
  display: flex;
  justify-content: flex-end;
}

._row-center{
  display: flex;
  justify-content: center;
}

._row-between{
  display: flex;
  justify-content: space-between;
}

._row-around{
  display: flex;
  justify-content: space-around;
}

._row-evenly{
  display: flex;
  justify-content: space-evenly;
}




._row-left-wrap{
  display: flex;
  flex-wrap: wrap;
}

._row-right-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

._row-center-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

._row-between-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

._row-around-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

._row-evenly-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}



._item-center{
  align-items: center;
}

._item-start{
  align-items: self-start;
}

._item-end{
  align-items: self-end;
}

._column-start{
  display: flex;
  flex-direction: column;
}

._column-end{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

._column-between{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

._column-around{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

._column-evenly{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

._column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

._space-auto{
  flex: 1 1 auto;
}

._space-auto-0{
  flex: 0 0 0;
}