@charset "utf-8";

$container: (
  xxl: 1100px,
  xl: 950px,
  md: 767px,
  sm: 100%
);

$breakpoints: (
    xxl: 1200px,
    xl: 1024px,
    md: 767px,
    sm: 576px,
);

:root{
  --color-black: #000;
  --color-white: #fff;

  --color-gray-1: #F8F9FA;
  --color-gray-2: #E9ECEF;
  --color-gray-3: #DEE2E6;
  --color-gray-4: #CED4DA;
  --color-gray-5: #ADB5BD;
  --color-gray-6: #6C757D;
  --color-gray-7: #495057;
  --color-gray-8: #343A40;
  --color-gray-9: #212529;

  --color-yellow-1: #FFF3CD;
  --color-yellow-2: #FFE69C;
  --color-yellow-3: #FFDA6A;
  --color-yellow-4: #FFCD39;
  --color-yellow-5: #FFC107;
  --color-yellow-6: #CC9A06;
  --color-yellow-7: #997404;
  --color-yellow-8: #664D03;
  --color-yellow-9: #332701;

  --color-orange-1: #FFE5D0;
  --color-orange-2: #FECBA1;
  --color-orange-3: #FEB272;
  --color-orange-4: #FD9843;
  --color-orange-5: #FD7E14;
  --color-orange-6: #CA6510;
  --color-orange-7: #984C0C;
  --color-orange-8: #653208;
  --color-orange-9: #331904;

  --color-green-1: #D1E7DD;
  --color-green-2: #A3CFBB;
  --color-green-3: #75B798;
  --color-green-4: #479F76;
  --color-green-5: #198754;
  --color-green-6: #146C43;
  --color-green-7: #0F5132;
  --color-green-8: #0A3622;
  --color-green-9: #051B11;

  --color-teal-1: #D2F4EA;
  --color-teal-2: #A6E9D5;
  --color-teal-3: #79DFC1;
  --color-teal-4: #4DD4AC;
  --color-teal-5: #20C997;
  --color-teal-6: #1AA179;
  --color-teal-7: #13795B;
  --color-teal-8: #0D503C;
  --color-teal-9: #06281E;

  --color-pink-1: #F7D6E6;
  --color-pink-2: #EFADCE;
  --color-pink-3: #E685B5;
  --color-pink-4: #DE5C9D;
  --color-pink-5: #D63384;
  --color-pink-6: #AB296A;
  --color-pink-7: #801F4F;
  --color-pink-8: #561435;
  --color-pink-9: #2B0A1A;

  --color-red-1: #F8D7DA;
  --color-red-2: #F1AEB5;
  --color-red-3: #EA868F;
  --color-red-4: #E35D6A;
  --color-red-5: #DC3545;
  --color-red-6: #B02A37;
  --color-red-7: #842029;
  --color-red-8: #58151C;
  --color-red-9: #2C0B0E;

  --color-cyan-1: #CFF4FC;
  --color-cyan-2: #9EEAF9;
  --color-cyan-3: #6EDFF6;
  --color-cyan-4: #3DD5F3;
  --color-cyan-5: #0DCAF0;
  --color-cyan-6: #0AA2C0;
  --color-cyan-7: #087990;
  --color-cyan-8: #055160;
  --color-cyan-9: #032830;

  --color-blue-1: #CFE2FF;
  --color-blue-2: #9EC5FE;
  --color-blue-3: #6EA8FE;
  --color-blue-4: #3D8BFD;
  --color-blue-5: #0D6EFD;
  --color-blue-6: #0A58CA;
  --color-blue-7: #084298;
  --color-blue-8: #052C65;
  --color-blue-9: #031633;

  --color-indigo-1: #E0CFFC;
  --color-indigo-2: #C29FFA;
  --color-indigo-3: #A370F7;
  --color-indigo-4: #8540F5;
  --color-indigo-5: #6610F2;
  --color-indigo-6: #520DC2;
  --color-indigo-7: #3D0A91;
  --color-indigo-8: #290661;
  --color-indigo-9: #140330;

  --color-purpure-1: #E2D9F3;
  --color-purpure-2: #C5B3E6;
  --color-purpure-3: #A98EDA;
  --color-purpure-4: #8C68CD;
  --color-purpure-5: #6F42C1;
  --color-purpure-6: #59359A;
  --color-purpure-7: #432874;
  --color-purpure-8: #2C1A4D;
  --color-purpure-9: #160D27;
}