@include xxl__max{
  ._container{
    width: map-get($container, xl);
  }
}

@include xl__max{
  ._container{
    width: map-get($container, md);
  }
}

@include md__max{
  ._container{
    width: map-get($container, sm);
  }
  .header .icons{
    display: none;
  }
}